

* {
  box-sizing: border-box;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Style the input fields */
#input {
    font-size: 20px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
#sub-but {
    display: inline-block;
  border: 1px solid #ddd;
  color: white;
}

#search-area {
  margin-bottom: 60px;
}


  #top-div, 
  #bottom-div {
    height: 2em;
  }

  #header {
    height: 7em;
    text-align: center;
  }




h4 {    
  font-weight: bold;
}


 h2 {
   color: white;
 }

 h1 {
   font-weight: bold;
   margin: 0 auto;
 }


 /* body, html {
  height: 100%;
} */



/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(51, 73, 105, 0.5), rgba(51, 73, 105, 0.5)), url("hero-image.jpg");
/* 51, 73, 105, 0.5 */

/* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 30em;
}

/* Place text in the middle of the image */ 
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }

